.test-container {
  padding-left: 4px;
  color: #03441a;
  font-family: Verdana, Geneva, sans-serif;
  min-width: 1000px;
}

/*Styling Top Section*/

.top-section .header-breadcrumbs {
  margin: 0;
  padding: 15px 0 0 0;
}
.top-section .header-breadcrumbs li {
  display: inline-block;
  font-size: 12px;
  color: #504b38;
  float: left;
}
.top-section .header-breadcrumbs li a {
  color: #504b38;
  text-decoration: none;
  font-size: 16px;
}
.top-section .header-breadcrumbs li .divider {
  display: inline-block;
  margin: 0 10px;
  opacity: .6;
}
.top-section .header-breadcrumbs li .by {
  position: relative;
  bottom: -2px;
  padding-right: 40px;
}
.top-section h1 {
  margin: 15px 0 30px 0;
  font-weight: 900;
  font-size: 40px;
  line-height: 40px;
}
.top-section h2 {
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

/*Styling Social Icons*/


.top-section .social {
  margin: 55px 0 95px 0;
  padding: 0;
}
.top-section .social li {
  display: inline-block;
  float: left;
  margin-right: 13px;
  width: 30px;
  height: 30px;
}
.top-section .social li a {
  text-decoration: none;
}
.top-section .social li i {
  padding: 8px;
}
.top-section .social li.facebook {
  background: #38598e;
}
.top-section .social li.facebook i {
  color: #f6fff5;
}
.top-section .social li.twitter {
  background: #21ade2;
}
.top-section .social li.twitter i {
  color: #ffffff;
}
.top-section .social li.pinterest {
  background: #fff;
}
.top-section .social li.pinterest i {
  color: #b5052c;
}
.top-section .social li.google {
  background: #e6483d;
}
.top-section .social li.google i {
  color: #fff;
}
.top-section .social li.mail {
  background: #636365;
}
.top-section .social li.mail i {
  padding: 7px;
  color: #fdfdfd;
}

/*Styling Main Content*/

.main-content ul,
.main-content p {
  margin: 0;
  padding: 0;
}
.main-content ul.content li {
  display: inline-block;
  width: 25%;
  text-align: center;
  float: left;
}
.main-content ul.content li img {
  max-width: 100%;
  vertical-align: top;
}
.main-content ul.content li h3 {
  background: url('../images/headline-border.jpg') no-repeat center bottom;
  padding-bottom: 15px;
  font-weight: normal;
  margin-bottom: 12px;
}
.main-content ul.content li p {
  padding: 0 5px 155px 5px;
  color: #504b38;
}
.main-content ul.content.last-row p {
  padding-bottom: 60px;
}
.main-content .learn-more,
.main-content .sources {
  padding-left: 20px;
}
.main-content .learn-more a,
.main-content .sources a {
  color: #608f3e;
  text-decoration: none;
}
.main-content .sources {
  font-size: 80%;
  margin: 40px 0 120px 0;
}
.main-content .sources li {
  margin-bottom: 14px;
  display: block;
}
.main-content .you-might-like h4 {
  font-weight: normal;
  color: #608f3e;
  font-size: 20px;
}
.main-content .you-might-like li {
  display: inline-block;
  float: left;
  width: 25%;
}
.main-content .you-might-like li img {
  max-width: 100%;
}
.main-content footer {
  color: #03441a;
  font-weight: bold;
}
.main-content footer a {
  color: #383226;
  text-decoration: none;
}
.main-content footer li {
  display: block;
  margin-bottom: 20px;
}
.main-content footer ul {
  display: inline-block;
  float: left;
  width: 16.66666666666667%;
  padding: 0;
  margin: 50px 0 0 0;
}
